*ReSharper.*
bin
obj
*MSBuild.Community.Tasks.Targets
*.suo
StyleCop.Cache
*.orig
*.debug.css
LessStyles.less.debug.css
*.csproj.user
*.DotSettings.*
*.ncrunchsolution*
src/packages/*
!src/packages/repositories.config
src/Run/*
src/Output/*
src/Dependencies/*
*.pdb
*.exe.config
help/Output/*
help/WinClient/Output/*
help/ReportDesigner/Output/*
ism/bin/*
build/scripts/LocalEnvVar.ps1
*licenses.licx
